torch
tqdm
tensorboardX==1.8
ninja
numpy
psutil
packaging
hjson
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability
